@import "tailwindcss";

@theme {
  /* Define your brand tokens as CSS variables */
  --color-primary: #0F6CBD;
  --color-primary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #020817;
  --color-border: #e2e8f0;
  --color-danger: #C50F1F;
  --color-warning: #F7630C;
  --color-success: #107C10;
  --color-info: #616161;
  --color-subtle: #EBEBEB;
  --color-important: #242424;
  
  /* For Buttons */
  --color-primary-darker: color-mix(in oklab, var(--primary), black 5%);
  --color-primary-darkest: color-mix(in oklab, var(--primary), black 15%);

  /* Radii */
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  /* Animations (Native v4 supports these directly) */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

/* User-level overrides (Global Customization) */
:root {
  --primary: var(--color-primary);
  --danger: var(--color-danger);
  --warning: var(--color-warning);
  --succes: var(--color-success);
  --info: var(--color-info);
  --subtle: var(--color-subtle);
  --important: var(--color-important);
}

.dark {
  --color-ui-background: #020817;
  --color-ui-foreground: #ffffff;
}